/* 공통 */

.btn {
    white-space: nowrap;
    border: 0 !important;
}

.boardTable {
    text-align: center;
    margin-top: 3%;
}

th, td {
    width: 25%;
}

div a, button a, td a {
    text-decoration: none;
    color: black;
}

.navbarContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.searchButton {
    margin-right: 5px;
}

.loginButton, .logoutButton, .joinButton {
    margin-left: 5px;
}

/* 홈페이지 */
.boardTable {
    width: 80%;
    margin-left: 10%;
}

/* 게시글 상세페이지 */
.detailContainer {
    width: 80%;
    height: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    margin-bottom: 10px;
    margin-top: 3%;
    margin-left: 10%;
}

.detailHead {
    border-bottom: 1px solid gray;
    padding: 3%;
}

.detailContent {
    padding: 3%;
    min-height: 400px;
}

/* 하단 버튼들 */
.SearchContainer {
    width: 80%;
    display: flex;
    margin-left: 10%;
}

.firstButton, .secondButton, .thirdButton {
    width: 100%;
}

.secondButton {
    white-space: nowrap;
}

.thirdButton {
    text-align: right;
}

.buttonContainer {
    margin-right: 10%;
    text-align: right;
}

/* 글쓰기 페이지 */
.formHead {
    border-bottom: 1px solid gray;
    padding: 3%;
}

/* 로그인 페이지 */
.loginContainer {
    width: 40%;
    margin-left: 30%;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 3%;
    margin-top: 3%;
}

.loginButtonContainer {
    width: 100%;
    text-align: right;
}