/* ------------공통------------ */
* {
    white-space: nowrap;
}

.btn {
    border: 0 !important;
}

button {
    border-radius: 5px !important;
}

th, td {
    width: 25%;
}

div a, button a, td a {
    text-decoration: none;
    color: black;
}

.navbarContent {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
}

.searchButton {
    margin-right: 5px;
}

.loginButton, .logoutButton, .joinButton {
    margin-left: 5px;
}

/* ------------홈페이지------------ */
.boardTable {
    width: 100%;
    max-width: 600px;
    text-align: center;
    margin: 1% auto;
}

/* ------------게시글 상세페이지------------ */
.detailContainer {
    width: 100%;
    max-width: 600px;
    height: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 1% auto;
}

.detailHead {
    border-bottom: 1px solid gray;
    padding: 3%;
}

.detailContent {
    padding: 3%;
    min-height: 400px;
    white-space: pre-wrap; /* 자동 줄바꿈 설정 */
    overflow-wrap: break-word; /* 단어가 너무 길 때 줄바꿈 */
}

/* ------------홈페이지 하단 검색바, 버튼들------------ */
.SearchContainer {
    width: 100%;
    max-width: 600px;
    display: flex;
    margin: 0 auto;
    justify-content: space-between;
}

.thirdButton {
    text-align: right;
}

/* ------------페이지 하단 버튼들------------ */
.buttonContainer {
    width: 100%;
    max-width: 600px;
    margin: 0 auto;
    text-align: right;
}

/* ------------글쓰기 페이지------------ */
.formHead {
    border-bottom: 1px solid gray;
    padding: 3%;
}

.newContent {
    padding: 3%;
    min-height: 400px;
}

/* ------------로그인 페이지------------ */
.loginContainer {
    width: 100%;
    max-width: 350px;
    border: 1px solid gray;
    border-radius: 10px;
    padding: 3%;
    margin: 3% auto;
}

.loginButtonContainer {
    width: 100%;
    text-align: right;
}

/* ------------페이지내 댓글입력영역------------ */
.commentContainer {
    width: 100%;
    padding: 1%;
    max-width: 600px;
    height: 100%;
    border: 1px solid gray;
    border-radius: 10px;
    margin: 1% auto;
}

.commentInputAuthor {
    align-content: end;
    margin-bottom: -20px;
}

.commentInputBtn {
    text-align: right;
    margin: 5px 0;
}

/* ------------글 수정페이지------------ */
.updateContent {
    padding: 3%;
    min-height: 400px;
}

#updateContent, #postContent {
    white-space: pre-wrap; /* 자동 줄바꿈 설정 */
    overflow-wrap: break-word; /* 단어가 너무 길 때 줄바꿈 */
}